temp
database
pkg
s1_Onboarding/cr
s1_Onboarding/onboarding
s1_Onboarding/reg
s2_Auth/auth
s3_Publish/publish
s3_Publish/cr-jobpublish
s3_Publish/jobpublish
s3_Publish-old
s3_PublishJobs
redis_data
apilist.txt
commonadapter-old
*/vendor
s5_Subcription/subscription*
s4_Profile/profile*
s6_Token/toke*
s7_PaymentGateway/paymentgatew*
*/node_modules